body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  margin: 50px auto;
}

h1 {
  margin-top: 50px;
}

#gamesboard-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.game-board {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

/* each block should be 20px width & height [200px of game-board divided by 10(since 10 by 10 gameboard]*/
.block {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  box-sizing: border-box;
}

.option-container {
  width: 500px;
  height: 60px;
  margin: 30px 0;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.destroyer,
.submarine,
.cruiser,
.battleship,
.carrier {
  background-color: rgb(225, 176, 242);
}

.submarine {
  background-color: rgb(132, 218, 204);
}
.cruiser {
  background-color: rgb(255, 200, 0);
}

.battleship {
  background-color: rgb(163, 183, 234);
}

.carrier {
  background-color: rgb(255, 165, 127);
}

.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
}

.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}

.cruiser-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}

.battleship-preview {
  width: 40px;
  height: 10px;
  margin: 3px;
}

.carrier-preview {
  width: 50px;
  height: 10px;
  margin: 3px;
}

.hover {
  background-color: rgb(200, 190, 190);
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
  background-color: white;
}

.boom {
  background-color: red !important;
}

.empty {
  background-color: rgb(189, 183, 183) !important;
}

button {
  cursor: pointer;
}

.block-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: larger;
  text-transform: capitalize;
  font-weight: 600;
}
